
.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 100px;
}

.nav-items > ul{
    display: flex;
    list-style: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
    list-style: none;
}

.search {
    padding: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    padding: 5px;
    width: 200px;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.res-img {
    width: 100%;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}

.login {
    margin: 0 20px;
    cursor: pointer;
}

.filter {
    display: flex;
}